body {
  font-family: "Open Sans", sans-serif;
}

.clube {
  text-align: center;
  background-color: #f3b6b6;
  color: #000;
  padding: 22px;
  font-weight: normal;
  border: 1px solid #e8e8e8;
  width: 100%;
  display: normal;
  background-image: url("caminho-da-sua-imagem.jpg"); /* Substitua pelo caminho da sua imagem */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-position: right center; /* Posiciona a imagem no lado direito e centralizada verticalmente */
  background-size: auto 100%; /* Ajusta a largura da imagem para ocupar a altura total da div */
}

table {
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
  width: 1000px;
}
.check {
  color: green; /* Cor verde para o ícone de check */
}

.x {
  color: red; /* Cor vermelha para o ícone de x */
}
.beneficios {
  background-color: #f7f7f7; /* Cor para a célula "Beneficios" */
  color: #000; /* Cor do texto dentro da célula "Beneficios" */
  text-align: center;
  border: 1px solid #e8e8e8;
}

.beneficio-label {
  margin: 0;
}

.desconto-interrogacao;
.frete-interrogacao;
.estacionamento-interrogacao;
.consignado-interrogacao;
.sala-interrogacao;
.canal-interrogacao;
.consultoria-interrogacao;
.selo-interrogacao;
.sorteio-interrogacao;
.grupo-interrogacao;
.catalogo-interrogacao;
. {
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  margin-left: 10px;
}

.explanation {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.explanation.visible {
  display: block;
}

.beneficio-gold {
  background-color: #daa520;
  color: #000;
  border: 1px solid #e8e8e8;
}

.beneficio-silver {
  background-color: #c0c0c0;
  color: #000;
  border: 1px solid #e8e8e8;
}

.beneficio-brass {
  background-color: #b14f32;
  color: #fff;
  border: 1px solid #e8e8e8;
}

table .price td {
  padding: 13px;
  font-size: 50px;
  color: #a56c6c;
  font-weight: 600;
  border: 1px solid #e8e8e8;
}

table .price sup {
  color: #a56c6c;
  font-size: 19px;
  font-weight: 700;
  margin: 0 5px;
}

table .price sub {
  font-size: 13px;
  color: #000;
  margin-left: -25px;
}

table .price,
table .frete,
table .consignado,
table .canal,
table .selo,
table .grupo,
table .btn {
  background-color: #fafafa;
}

table .desconto,
table .estacionamento,
table .sala,
table .consultoria,
table .sorteio,
table .catalogo {
  background-color: #f7f7f7;
}

table .desconto td,
table .frete td,
table .estacionamento td,
table .consignado td,
table .sala td,
table .canal td,
table .consultoria td,
table .selo td,
table .sorteio td,
table .grupo td,
table .catalogo td {
  padding: 18px;
  font-size: 14px;
  font-weight: 600;
  color: #696969;
  border: 1px solid #e8e8e8;
}

table .desconto td:first-of-type,
table .frete td:first-of-type,
table .estacionamento td:first-of-type,
table .sala td:first-of-type,
table .account td:first-of-type,
table .consignado td:first-of-type,
table .canal td:first-of-type,
table .consultoria td:first-of-type,
table .selo td:first-of-type,
table .sorteio td:first-of-type,
table .grupo td:first-of-type,
table .catalogo td:first-of-type {
  color: #a6a6a6;
  font-weight: 700;
}

table .btn td button {
  border: 0;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background-color: #333333;
  color: #fff;
}

table .btn td button:hover {
  background-color: #fc5103;
}

/* Estilos para botões individuais */
table .btn td .order-btn.brass:hover {
  background-color: #b14f32;
  color: #fff;
  /* Cor quando o mouse está sobre o botão "Quero ser Brass" */
}

table .btn td .order-btn.silver:hover {
  background-color: #c0c0c0;
  color: #000; /* Cor quando o mouse está sobre o botão "Quero ser Silver" */
}

table .btn td .order-btn.gold:hover {
  background-color: #daa520;
  color: #000; /* Cor quando o mouse está sobre o botão "Quero ser Gold" */
}
